<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Label</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>path</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <<td>{{ produit.idProduit }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.photoProduit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
