{% extends 'base.html.twig' %}


{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenements</h1>

    <div class="table-responsive">
<!-- Add this search form at the top of your template -->

        <div style="margin-left: 20px;">
            <div class="text-right">
                <a href="{{ path('app_pdf_generate') }}" class="btn btn-primary ml-auto">Télécharger PDF</a>
                <button id="sortButton" class="btn btn-primary ml-auto">Tri descendant</button>
            </div>
            </div>

    <div class="section-title">
    <input type="text" id="search" class="form-control" placeholder="Search" oninput="search()" style="width: 400px;">
</div>
                   
</div>

     <div id="searchResults"></div>



    <div id="results" class="row" id="eventsList">
        {% for evenement in evenements %}
        <div id= "results" class="col-md-4 mb-4">
            <div class="card evenement-card">
                <div class="card-body">
                    <h5 class="card-title">ID: {{ evenement.id }}</h5>
                    <p class="card-text">Titre: {{ evenement.titre }}</p>
                    <p class="card-text">Description: {{ evenement.description }}</p>
                    <p class="card-text">Date: {{ evenement.date }}</p>
                    <p class="card-text">Gagnant: {{ evenement.winner }}</p>
                    <p class="card-text">Categorie: {{ evenement.categorie }}</p>
                    <td>
                    {% if evenement.image %}
                        <img src="{{ asset('images/' ~ evenement.image) }}" alt="Event Image" style="width: 100px; height: auto;">
                    {% else %}
                        No image available
                    {% endif %}
                </td>
                      <!--  <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-primary show-club">show</a> -->
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-warning edit-club">edit</a></div>

            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <p>No records found</p>
        </div>
    {% endfor %}
        

    <a href="{{ path('app_evenement_new') }}">Create new</a>

    <div class="pagination">
    {{ knp_pagination_render(evenements) }}
</div>


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search').keyup(function() {
            var query = $(this).val();
            $.ajax({
                url: "{{ path('app_evenement_search') }}",
                type: "POST",
                data: {query: query},
                success: function(data) {
                    $('#results').html(data);
                    $('#results').css('width', '100%');
                    $('#results').css('position', 'static');
                }
            });
        });
    });
</script>

<script>
// Event listener to trigger sorting by price when the button is clicked
$('#sortButton').on('click', function() {
    // Make an AJAX request to reload the page with sorted products
    window.location.href = '{{ path('app_evenement_index') }}?sort=titre';
});
</script>


{% endblock %}

{% endblock %}