<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des clubs</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Liste des événements</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Evenement</th>
                <th>Déscription</th>
                <th>Date</th>
                <th>Gagnant</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.date }}</td>
                <td>{{ evenement.winner }}</td>
                <td>{{ evenement.categorie }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>