{% extends 'baseFront.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block content %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date }}</td>
            </tr>
            <tr>
                <th>Winner</th>
                <td>{{ evenement.winner }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ evenement.categorie }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ evenement.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

{% endblock %}
