{% extends 'baseFront.html.twig' %}


{% block title %}produit index {% endblock %}

{% block content %}
<h1>produits</h1>

<div class="table-responsive">
    <!-- Add this search form at the top of your template -->
</div>

<div id="searchResults"></div>



<div id="results" class="row" id="eventsList">
    {% for produit in produits %}
        <div id= "results" class="col-md-4 mb-4">
            <div class="card produit-card">
                <div class="card-body">
                    <h5 class="card-title">ID: {{ produit.idProduit }}</h5>
                    <p class="card-text">Libelle: {{ produit.libelle }}</p>
                    <p class="card-text">Prix: {{ produit.prix }}</p>
                    <p class="card-text">Quantite: {{ produit.quantite }}</p>

                    <td>
                        {% if produit.photoProduit %}
                            <img src="{{ asset('images/' ~ produit.photoProduit) }}" alt="Event Image" style="width: 100px; height: auto;">
                        {% else %}
                            No image available
                        {% endif %}
                    </td>

                </div>

            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <p>No records found</p>
        </div>
    {% endfor %}

    </div>


    {% endblock %}
